{% extends 'blog/base_blog.html' %}


{% block title %}
posts list
{% endblock %}

{% block content %}
<h1 class="mb-5">Posts</h1>
{% for post in posts %}
<div class="card mb-5">
    <div class="card-header">
        {{ post.date_pub }}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ post.title }}</h5>
        <p class="card-text"> {{ post.body|truncatewords:15 }} </p>
        <!--#фильтр для шаблона-->
        <!--<a href="#" class="btn btn-light">Read</a>-->
        <!--<a href="{% url 'post_detail_url' slug=post.slug %}" class="btn btn-light">Read</a>-->
        <a href="{{ post.get_absolute_url }}" class="btn btn-light">Read</a>

    </div>
</div>
<p>{{post.title}}</p>
{% endfor %}
{% endblock %}